# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
docker-compose.override.yml

# Laravel
/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*